* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #000;
  color: #f7c843;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .icons{
    font-size:22px;
    display:flex;
    gap:20px;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.profile-card {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  background: #f0c040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin: 0 auto 10px;
}



.badge {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 12px;
}

.main { flex: 1; }

.upload-box {
  background: white;
  padding: 25px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #777;
  font-size: 16px;
}

.files-table {
  margin-top: 20px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.controls button {
  padding: 8px 12px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
}

table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.edit { 
  color: green; 
}
.delete { 
  color: red;
}
.download {
  color: blue;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .profile-card {
    width: 100%;
  }
}
.icons .link{
    justify-content: center;
    display: flex;
    width: 20px; 
    height: 20px; 
    filter: invert(100%);
    top: 5px;
}
.icon_2 {
  width: 100%;
  height: 100%;
  color: #000; /* couleur de l’icône */
}

.badge_2{
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.badge_2{
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.icon-wrapper {
  position: relative;  
  display: flex;
  align-items: center;
  gap: 40px;
  top: 20px;
 left: 60px;
}

.icon-box {
position: relative;   /* référence du badge */
 width: 35px;
 height: 35px;
}

.icon-wrapper .link {
    align-items: center;
  width: 30px;
  height: 30px;
}